/************************
LIGHT STYLES
************************/

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: lightgrey;
	background-image: url();
	background-repeat: none;
	background-size: 100%;

}

/*h1 {
	text-align: center;
}
*/
#wrapper {
	background-color: white;
	height: 100%;
	width: 70%;
	margin-left: 15%;
	box-shadow: .5px 1px 2px 3px grey;
}

#headerNavigation {
	background-color: darkgrey;
	width: 70%;
	height: 300px;
	background-image: url(https://media.giphy.com/media/F3nOfJiy8uKsM/giphy.gif);
	background-size: 100%;
	text-align: center;
	position: fixed;
	border-bottom: 1px solid black;
}

#messageWrapper {
	width: 100%;
	height: 500px;
	padding: 5%;

	overflow: scroll;

	padding-top: 325px;

}


#holdingCheckboxes {
	padding-top: 15%;
}




#holdingMessageAndButton {
	padding-top: 1.5%;

}



#darkCheckbox {

}

label {
	padding-right: 2%;
}


#enterMessageTextBox {
	font-size: 1.5em;
	width: 30%;
	cursor: text;

}


#clearMessagesButton {
	padding: .5% .5% .4% .5%;
	cursor: pointer;
}





/************************
DARK STYLES
************************/

/*body {
	background-color: black;
	font-color: white;
	}

#wrapper {
	background-color: grey;
	font-color: white;

}*/


/************************
LIGHT STYLES
************************/

<<<<<<< HEAD

=======
/*body {
	font-size: 2em;

}*/
>>>>>>> e71facfcb01cad9c4a4e8d91ffd054e287819e78

/************************
NAVIGATION
************************/



/************************
FOOTER
************************/

#footer {
	text-align: center;
	padding: 2%;
}
