/************************
DEFAULT STYLES
************************/

body {
	font-family: "novecento sans", sans-serif;
	margin: 0;
	background-color: lightgrey;
	background-image: url();
	background-repeat: none;
	background-size: 100%;

}

#wrapper {
	background: linear-gradient(174deg, #678fff, #ffffff);
	height: 100%;
	width: 70%;
	margin-left: 15%;
	box-shadow: .5px 1px 2px 3px grey;
}


/*****************************
HEADER/LOGO
*****************************/

#headerNavigation {
	background-color: darkgrey;
	width: 70%;
	height: 300px;
	background-image: url(https://media.giphy.com/media/F3nOfJiy8uKsM/giphy.gif);
	background-size: 100%;
	text-align: center;
	position: fixed;
	border-bottom: 1px solid black;
	z-index: 3;
}



#logo {
	font-family: Frontage, sans-serif;
	text-shadow: 1px 1px 2px white;
	overflow: hidden;
	padding-top: 5%;
}


h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*___________________________*/


#messageWrapper {
	width: 100%;
	height: 500px;
	padding: 5%;
	overflow: scroll;
	padding-top: 325px;
}


#holdingCheckboxes {
	padding-top: 3%;
}


#holdingMessageAndButton {
	padding-top: 1.5%;

}


#darkCheckbox {

}

label {
	padding-right: 2%;
}


#enterMessageTextBox {
	font-size: 1.5em;
	width: 30%;
	cursor: text;

}


#clearMessagesButton {
	padding: .5% .5% .4% .5%;
	cursor: pointer;
}


/**************************
TEXT MESSAGE STYLES
**************************/

/*#sectionWrapper {
  max-width: 60%;
  margin: 0 15% auto 15%;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
}*/

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  margin-bottom: 5px;
  clear: right;
}


.from-them {
  position: relative;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 25px;
  color: black;
  float: left;
  margin-bottom: 5px;
}








/************************
DARK STYLES
************************/

/*body {
	background: black;
}

#wrapper {
	background: linear-gradient(188deg, #ff0404, #fdf813);
	height: 100%;
	width: 70%;
	margin-left: 15%;
	box-shadow: .5px 1px 2px 3px black	;
	color: white;
}


#headerNavigation {
	background-color: grey;
	width: 70%;
	height: 300px;
	background-image: url(https://media.giphy.com/media/4TMqcN59kg3Yc/giphy.gif);
	background-size: 100%;
	text-align: center;
	position: fixed;
	border-bottom: 1px solid black;
	z-index: 3;
}

#logo {
	font-family: Frontage, sans-serif;
	text-shadow: 1px 1px 2px grey;
	overflow: hidden;
	padding-top: 5%;
	color: red;
}


h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: black;
  border-radius: 25px;
  float: right;
  margin-bottom: 5px;
  clear: right;
}


.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
}*/



/************************
LARGE STYLES
************************/

/*body {
	font-size: 2em;

}*/

/************************
NAVIGATION
************************/



/************************
FOOTER
************************/

#footer {
	text-align: center;
	padding: 2%;
}
